body {
	font-size: 62.5%;
    font-family:"Montserrat";
	color: #f6f6f6;
	background-color: #161616;
}
.main-wrap {
	max-width: 980px;
	margin: 0 auto;
}
a {
	color: #f6f6f6;
	text-decoration: none;
	-webkit-transition: color 0.175s ease 0.05s;
	   -moz-transition: color 0.175s ease 0.05s;
	        transition: color 0.175s ease 0.05s;
}
a:hover,
a:focus {
	color: #ffffff;
	text-decoration: none;
}
.header {
	text-align: center;
	font-size: 2em;
	margin: 0 10%;
}
h1 {
	color: #f6f6f6;
	font-size: 3em;
	margin: 25% 0 0;
	text-align: center;
	font-weight: normal;
}
h4 {
	color: #f6f6f6;
	font-size: 1.25em;
	margin: 0 0 0em;
	font-weight: normal;
}

.list-set,
.list-set li {
	margin: 1em 0 0;
	padding: 0;
	list-style: none;
}
.list-set li { display: inline-block; }
.list-set li a { display: inline-block; }
.list-set li .fa { min-width: 1em; min-height: 1em; }
.list-set.keywords { overflow: hidden; }
.list-set.keywords li {
    color: #f6f6f6;
	padding: 0.6em 0.85em;
	font-size: 2em;
	display: inline-block;
	margin: 2px;
	float: none;
}
.list-set.keywords li:focus, .list-set.keywords li:hover {
	color: #f9f9f9;
    text-shadow: 0 5px 5px rgba(255, 255, 255, .25);
	text-decoration: none;
}
@media (max-width: 780px) {
	body { font-size: 50%; }
	.header { margin: 0 5%; }
	.main { margin: 0 5%; }
    .list-set.keywords li {
        padding: 0.6em 0.66em;
        font-size: 1.75em;
        display: inline-block;
        margin: 1px;
        float: none;
    }
}
@media (max-width: 552px) {
	body { font-size: 40%; }
	.header { margin: 0 5%; }
	.main { margin: 0 5%; }
    .list-set.keywords li {
        padding: 0.5em 0.5em;
        font-size: 2em;
        display: inline-block;
        margin: 1px;
        float: none;
    }
}
@media (max-width: 444px) {
	body { font-size: 35%; }
	.header { margin: 0 5%; }
	.main { margin: 0 5%; }
    h1 { font-size: 2em; }
    .list-set.keywords li {
        padding: 0.5em 0.5em;
        font-size: 2em;
        display: inline-block;
        margin: 1px;
        float: none;
    }
}
