body {
    font-family: "Montserrat";
	color: #121212;
	background-color: #f9f9f9;
}
h1 {
	color: #121212;
    font-size: 5em;
    margin: 0;
	font-weight: normal;
}
h3 {
	color: #121212;
    font-size: 2.5em;
    margin: 0;
	font-weight: normal;
}
h4 {
	color: #121212;
    font-size: 1.5em;
    margin: 0;
	font-weight: normal;
}
h5 {
    color: #121212;
    font-size: 1em;
    margin: 0;
	font-weight: normal;
}
a {
	color: #121212;
	text-decoration: none;
	-webkit-transition: color 0.175s ease 0.05s;
	   -moz-transition: color 0.175s ease 0.05s;
        -ms-transition: color 0.175s ease 0.05s;
         -o-transition: color 0.175s ease 0.05s;
}
a:hover,
a:focus {
	color: #777777;
	text-decoration: none;
}

.list-set,
.list-set li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list-set li { display: inline-block; }
.list-set li a { display: inline-block; }
.list-set li .fa { min-width: 1em; min-height: 1em; }
.list-set.keywords { overflow: hidden; }
.list-set.keywords li {
    color: #000000;
	padding: 1em 1em;
	font-size: 2.5em;
	display: inline-block;
	margin: 2px;
	float: none;
}
.list-set.keywords li:focus, .list-set.keywords li:hover {
	color: #777777;
	text-decoration: none;
    -webkit-transition: color 0.175s ease 0.05s;
	   -moz-transition: color 0.175s ease 0.05s;
	        transition: color 0.175s ease 0.05s;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  position: fixed; /* Remove this on media queries for small devices */
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
